<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                text-align:left;
            }
            p{
                font-size: 13px;
            }
            a{
                color: white;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h2>Hello {{name}}!</h2>
        <h4>This is a MERN starter boilerplate with following features : </h4>
        <ul>
            <li>Authentication</li>
            <li>Authorization</li>
            <li>Profile image upload</li>
            <li>Forgot password recovery</li>
            <li>State management using redux</li>
        </ul>
        <h5>Do give feedback at : </h5>
        <p>
            <a href='mailto:adityaubale63@gmail.com'>adityaubale63@gmail.com</a>
        </p>
        <h5>Visit github at : </h5>
        <p>
            <a href='https://github.com/aditya25022001/mern-boilerplate' rel='noopener noreferer' target='_blank'>mern-boilerplate</a>
        </p>
    </body>
</html>